body{
    background-color: red;
}

.container-fluid{
    text-align: center;
}

.logo-header{
    width: 60px;
}

.logo-home, .cont-text-home{
    margin: 5%;
}

.cont-text-home{
    font-size: 24px;
}

.registro, .login{
    background-color: #92768f;
    border: 4px dashed #a387a0;
    border-radius: 29px;
}